body {
  font-family: 'Verdana';
}

.flex-container {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
}